@import 'base';

div.small-rectangle {
    width: 330px;
    height: 190px;

    background-image: url('../images/skymovies.jpg');

    padding: 15px;
    margin-bottom: 30px;
}

div.large-rectangle {
    width: 100%;
    height: 285px;

    background-image: url('../images/fury.jpg');

    padding: 15px;

    margin-bottom: 30px;
}
