@import 'base';
@import 'bower_components/gradients/src/styles/gradients';

section.light-section {
    @extend .polaris-bg-default;

    padding: 30px;

    margin-bottom: 30px;
}

section.dark-section {
    background-color: #222222;
    padding: 30px;

    margin-bottom: 30px;
}

div.small-rectangle {
    width: 330px;
    height: 190px;

    background-image: url('../images/skymovies.jpg');

    padding: 15px;

    box-sizing: border-box;
    position: relative;
}

div.large-rectangle {
    width: 100%;
    height: 400px;
    background-size: cover;

    background-image: url('../images/fury.jpg');

    padding: 15px;

    margin-bottom: 30px;
}
