.glass {
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4; }
  .glass:after {
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0; }
    @media (max-width: 650px) {
      .glass:after {
        display: none; } }

.glass-top {
  position: relative; }
  .glass-top:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 9; }
    @media (max-width: 650px) {
      .glass-top:before {
        display: none; } }

.glass-bottom {
  position: relative; }
  .glass-bottom:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 6px;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 9; }
    @media (max-width: 650px) {
      .glass-bottom:after {
        display: none; } }
